@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Merienda:wght@300..900&display=swap');

:root, * {
		font-family: "Merienda", "Georgia", sans-serif, serif;
		font-weight: 400;
		font-style: normal;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		background-color: #FFF9FA;
}

#app {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100vh;
		width: 100vw;
}
header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		padding: 1rem 1rem 1.5rem 1rem;
}
header,
header>*,
footer,
footer>* {
		background-color: #FFC4CA;
}
footer {
		padding: 1rem;
		width: 100vw;
		text-align: center;
		color: red
}
nav {
		display: flex;
		justify-content: center;
		height: 1.7rem;
}
ol {
		list-style: none;
}
.hour {
		padding: 0.2rem;
}
#content {
		text-align: center;
		width: 100vw;
}
.menu {
		height: 100%;
		max-height: calc(100%-200px);
		text-align: center;
		overflow-y: scroll;
}
.title-div{
		margin: 1rem;
}
.title {

		font-size: 4rem;
}
.subtitle {
		color: #FF7F7F;
		font-size: 2.3rem;
		padding: 0.8rem;
}
.menu-container-div{
		display: flex;
		flex-direction: column;
		align-items:center;
}
.item-title {
		color: #FFCCCB;
		padding-bottom: 0.5rem;
		font-size: 1.5rem;
}

.item-divider{
		width: 50%;
		margin: auto;
		margin-top: 0.8rem;
		margin-bottom: 0.5rem;
}

.item-container-div {
		padding: 1rem;

}
button {
		font-size: 1.2rem;
		border: none;
		background: none;
		color: red;
		margin: 0rem 0.5rem;
		text-transform: uppercase;
}

button:hover {
		border-bottom: 2px solid red;
		cursor: pointer;
		padding-bottom: 4px;
}

.title {
		color: red;
}
